<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">

  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand" [routerLink]="['/home']">
      {{title}}
    </a>


    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <!-- Vertical divider -->
      <div class="divider-vertical"></div>

      <!-- Search bar -->
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>

      <!-- Items -->
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" href="/login">Connexion<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Truc</a>
        <a class="nav-item nav-link" href="#">Bidule</a>
      </div>

      <!-- Params menu -->
      <div class="dropdown">
        <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action 1</a>
          <a class="dropdown-item" href="#">Action 2</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Deconnexion</a>
        </div>
      </div>

    </div>

  </div>

</nav>
