<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">

  <div class="container">

    <!-- Brand -->
    <a id="navbarBrand" class="navbar-brand" [routerLink]="['/home']">
      {{title}}
    </a>


    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <!-- Vertical divider -->
      <div class="divider-vertical"></div>

      <!-- Search bar -->
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Rechercher ..." aria-label="Search">
      </form>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a id="myPostsButton" class="nav-link" *ngIf="isRecruiter()" (click)="goToPostsView()">Mes postes<span class="sr-only">(current)</span></a>
          <a id="myProfileButton" class="nav-link" *ngIf="isCandidate()" (click)="goToProfileView()">Mon profil<span class="sr-only">(current)</span></a>
          <a id="myOffersButton" class="nav-link" *ngIf="isCandidate()" (click)="goToOfferView()">Mes offres<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a id="myConversationsButton" *ngIf="isRecruiter() || isCandidate()"
             class="nav-link" (click)="goToConversationsView()">Mes conversations<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a id="myNotificationsButton" *ngIf="isCandidate()"
             class="nav-link" (click)="goToNotificationView()">Mes notifications<span class="sr-only">(current)</span></a>
        </li>
      </ul>

      <!-- Items -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a id="connectionButton" class="nav-link" *ngIf="!isConnected()" (click)="login()">Connexion<span class="sr-only">(current)</span></a>
          <a id="unconnectionButton" class="nav-link" *ngIf="isConnected()" (click)="logout()">Déconnexion<span class="sr-only">(current)</span></a>
        </li>
      </ul>

    </div>

  </div>

</nav>
