<div class="card border-secondary text-center">
  <img class="rounded-circle m-2 mx-auto" src="../../../../assets/images/user-no-photo.png" alt="Generic placeholder image" width="140" height="140">
  <h5>{{ candidate.user.firstname }} {{ candidate.user.lastname }}</h5>

  <hr>

  <p>
    <button id="seeProfileButton" [routerLink]="['/profile', candidate.id]" class="btn btn-outline-primary">
      Voir le profil
    </button>
    <button id="addCandidate" [routerLink]="['/profile', candidate.id]" class="btn btn-outline-primary">
      Associer le candidat
    </button>

  </p>
</div>
