.rectangle-box {
  margin-right: 10px;
  padding: 5px 5px 5px 10px;;
  display: inline-block;
  color: white;
  outline-style: solid;
}

.skill-text {
  padding-right: 5px;
}

.skill-x {
  background: #408CCA;
  outline-color: #216096;
}
