<div class="container">
  <h2>Mes postes</h2>

  <!-- add post part -->
  <button type="button" class="btn btn-outline-secondary m-2 float-xl-right" data-toggle="modal" data-target=".postFormModal">
    Ajouter un poste
  </button>

  <div class="modal fade postFormModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <app-form-post></app-form-post>
  </div>

  <!-- list of posts -->
  <br>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Identifiant</th>
      <th scope="col">Intitulé</th>
      <th scope="col">Type</th>
      <th scope="col">Lieu</th>
      <th scope="col">Référence</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of listPost">
      <td>{{ post.id }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.contractType }}</td>
      <td>{{ post.workplace }}</td>
      <td>{{ post.reference }}</td>
      <td><button [routerLink]="['/post', post.id]" type="button" class="btn btn-primary btn-sm">Afficher</button>
        <button (click)="updatePost()" type="button" class="btn btn-warning btn-sm">Modifier</button>
        <button (click)="deletePost()" type="button" class="btn btn-danger btn-sm">Supprimer</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
