<button (click)="Postuler()" type="button" class="btn btn-success">Postuler</button>
<button (click)="Contacter()" type="button" class="btn btn-info">Contacter</button>
<button (click)="Signaler()" type="button" class="btn btn-danger">Signaler</button>
<p></p>

<p class="alert alert-success">Caractéristiques</p>

<table class="table">
  <tbody>
  <tr>
    <th scope="row">Date de publication</th>
    <td>09/12/2016</td>
  </tr>
  <tr>
    <th scope="row">Référence</th>
    <td>{{post.reference}}</td>
  </tr>
  <tr>
    <th scope="row">Intitulé du poste</th>
    <td>{{post.title}}</td>
  </tr>
  <tr>
    <th scope="row">Nombre d’années d’expérience</th>
    <td>{{post.experience}}</td>
  </tr>
  <tr>
    <th scope="row">Indice grille de salaire</th>
    <td>{{post.salaryIndex}}</td>
  </tr>
  <tr>
    <th scope="row">Salaire moyen</th>
    <td>{{post.minSalary}} à {{post.maxSalary}}€</td>
  </tr>
  <tr>
    <th scope="row">Type d'engagement</th>
    <td>{{post.contractType}}</td>
  </tr>
  </tbody>
</table>

<p></p>
<p class="alert alert-success">Contexte du poste</p>

<table class="table">
  <tbody>
  <tr>
    <th scope="row">Lieu de travail</th>
    <td>{{post.workplace}}</td>
  </tr>
  <tr>
    <th scope="row">Organisation demandeuse</th>
    <td>{{post.organization}}</td>
  </tr>
  <tr>
    <th scope="row">Service concerné</th>
    <td>{{post.workUnit}}</td>
  </tr>
  <tr>
    <th scope="row">Résumé du poste à pourvoir</th>
    <td>{{post.description}}.</td>
  </tr>
  <tr>
    <th scope="row">Points d'attention</th>
    <td>{{post.importantNotes}}</td>
  </tr>
  </tbody>
</table>

<p></p>
<p class="alert alert-success">Formations et certifications requises</p>
<table class="table">
  <tbody>
  <tr>
    <th scope="row">Formations</th>
    <td>- Bac + 4 (ou plus) et Anglais niveau B2 ---> a revoir</td>
  </tr>
  <tr>
    <th scope="row">Certifications</th>
    <td>- Certified Scrum Master + PMP ---> a revoir</td>
  </tr>
  </tbody>
</table>

<p></p>
<p class="alert alert-danger">Capacités et compétences requises</p>
<table class="table">
  <tbody>
  <tr>
    <th scope="row">Thématique</th>
    <th scope="row">Capacité / Compétence</th>
    <th scope="row">Obligatoire / Plus</th>
  </tr>
  <tr>
    <th scope="row">Savoir spécifique</th>
    <td>abc</td>
    <td>Obligatoire</td>
  </tr>
  <tr>
    <th scope="row">Savoir faire</th>
    <td>
  <tr>aaa</tr>
  <tr>aaa</tr>
  </td>

  <td>
    <tr>Obligatoire</tr>
    <tr>Obligatoire</tr>
  </td>
  <tr>
    <th scope="row">Savoir-être</th>
    <td>
  <tr>aaa</tr>
  <tr>aaa</tr>
  </td>
  <td>attend de recup les resultats pour utiliser ngfor</td>
  </tr>
  </tbody>
</table>

<p></p>
<p class="alert alert-danger">Connaissances requises</p>
<table class="table">
  <tbody>
  <tr>
    <th scope="row">Thématique</th>
    <th scope="row">Connaissance / Compétence</th>
    <th scope="row">Obligatoire / Plus</th>
  </tr>
  <tr>
    <th scope="row">Métier</th>
  </tr>
  <tr>
    <th scope="row">Fonctionnelles</th>
  <tr>
    <th scope="row">Techniques</th>
  </tr>
  <tr>
    <th scope="row">Linguistiquess</th>
  </tr>
  </tbody>
</table>

<p class="alert alert-danger">Candidats potentiels</p>
<app-candidate-card [candidate]="candidate" *ngFor="let candidate of matchingCandidates"></app-candidate-card>
