<div class="container">

  <div class="my-3 p-3 bg-white rounded box-shadow">
    <div>
      <form novalidate [formGroup]="form" class="form-group">

        <div class="form-group text-center border-0 required" formGroupName="user">
          <label class="d-block">Type de compte</label>
          <div class="switch-field d-inline-block">
            <input type="radio" id="role-candidate" name="role" formControlName="role" value="candidate"/>
            <label class="mr-4" for="role-candidate">Candidat</label>
            <input type="radio" id="role-recruiter" name="role" formControlName="role" value="recruiter"/>
            <label for="role-recruiter">Recruteur</label>
          </div>
          <div class="d-flex justify-content-center align-content-center" *ngIf="form.get('user').get('role').touched && form.get('user').get('role').hasError('required')">
            <div class="error text-danger">Veuillez préciser le type de compte</div>
          </div>
        </div>

        <div class="form-group row border-0 required" *ngIf="form.get('user').get('role').value === 'recruiter'">
          <label for="company" class="col-sm-3 col-form-label text-right">Nom de votre société</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="company" name="company" formControlName="company" required>
            <div class="error text-danger" *ngIf="form.get('company').touched && form.get('company').hasError('required')">
              Le nom de la société est <strong>obligatoire</strong>
            </div>
          </div>
        </div>


        <div formGroupName="user" class="border-0">
          <div class="form-group row required">
            <label for="lastname" class="col-sm-3 col-form-label text-right">Nom</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="lastname" name="lastname" formControlName="lastname" required>
              <div class="error text-danger" *ngIf="form.get('user').get('lastname').touched && form.get('user').get('lastname').hasError('required')">
                Le nom est <strong>obligatoire</strong>
              </div>
            </div>
          </div>

          <div class="form-group row required">
            <label for="firstname" class="col-sm-3 col-form-label text-right">Prénom</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="firstname" name="firstname" formControlName="firstname" required>
              <div class="error text-danger" *ngIf="form.get('user').get('firstname').touched && form.get('user').get('firstname').hasError('required')">
                Le prénom est <strong>obligatoire</strong>
              </div>
            </div>
          </div>

          <div class="form-group row required">
            <label for="email" class="col-sm-3 col-form-label text-right">Email</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="email" name="email" formControlName="email" required>
              <div class="error text-danger" *ngIf="form.get('user').get('email').touched && form.get('user').get('email').hasError('required')">
                L'adresse email est <strong>obligatoire</strong>
              </div>
              <div class="error text-danger" *ngIf="form.get('user').get('email').touched && form.get('user').get('email').hasError('email') && !form.get('user').get('email').hasError('required')">
                L'adresse email est <strong>invalide</strong>
              </div>
              <!-- handling by a boolean value -->
              <div class="error text-danger" *ngIf="emailAlreadyUsed">
                Cette adresse email est <strong>déjà utilisée</strong>
              </div>
            </div>
          </div>

          <div class="form-group row required">
            <label for="password" class="col-sm-3 col-form-label text-right">Mot de passe</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="password" name="password" formControlName="password" required>
              <div class="error text-danger" *ngIf="form.get('user').get('password').touched && form.get('user').get('password').hasError('required')">
                Le mot de passe est <strong>obligatoire</strong>
              </div>
              <div class="error text-danger" *ngIf="form.get('user').get('password').touched && form.get('user').get('password').hasError('minlength')">
                Le mot de passe doit faire au minimum <strong>6 caractères</strong>
              </div>
            </div>
          </div>

          <div class="form-group row required">
            <label for="password-verif" class="col-sm-3 col-form-label text-right">Vérification du mot de passe</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="password-verif" name="password-verif" formControlName="password-verif" required>
              <div class="error text-danger" *ngIf="form.get('user').get('password').touched && !form.get('user').get('password').hasError('required')
          && !form.get('user').get('password').hasError('minlength') && form.get('user').hasError('passwordVerif')">
                Le mot de passe et la vérification du mot de passe ne sont pas <strong>identiques</strong>
              </div>
            </div>
          </div>
        </div>

        <div class="text-center">
          <button id="signupButton" type="submit"  [disabled]="form.invalid" class="btn btn-outline-success" (click)="submit(form.value)">S'inscrire</button>
        </div>
      </form>
    </div>

    <hr>

    <div class="text-center">
      <p>Vous possédez déjà un compte ? Connectez vous !</p>
      <button type="button" class="btn btn-outline-secondary" [routerLink]="['/login']">
        Se connecter
      </button>
    </div>
  </div>
</div>
