<div class="container">

  <div class="jumbotron my-3 p-3 bg-white rounded box-shadow">
    <img src="assets/images/logo.png"/>
    <p >
      Vous êtes à la recherche d'un travail, d'un stage ou êtes à la tête d'une entreprise à la recherche de nouveaux collaborateurs ? <br/>
      iMatchProfile vous permet de trouver les postes à pourvoir et les candidats qui vous correspondent le mieux.
    </p>
    <p *ngIf="!isConnected()">
      <a class="btn btn-lg btn-success m-2" [routerLink]="['/signup']" [queryParams]="{ role: 'candidate' }" id="createCandidatButton">
        Créer un compte candidat
      </a>
      <a class="btn btn-lg btn-success m-2" [routerLink]="['/signup']" [queryParams]="{ role: 'recruiter' }" id="createRecruiterButton">
        Créer un compte recruteur
      </a>
    </p>
  </div>

  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h2>Quelques postes :</h2>
    <div class="row">
      <div class="col-lg-4" *ngFor="let post of posts">
        <app-post-card [post]="post"></app-post-card>
      </div>
    </div>
  </div>
</div>
