<div class="container-fluid">
  <div class="row">
    <div class="col-10">
      <img src="http://trovacamporella.com/img/trovacamporella-fiat500.png"  class="rounded-circle img-fluid mx-auto d-block" height="200" width="200">
      <h3 class="text-center">Nom Prénom</h3>
      <br>
      <div class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
      <br>
    </div>
    <div class="col container">
        <button class="row btn btn-primary btn-block" (click)="proposePost()" type="button">Proposer un poste</button>
        <button class="row btn-block" (click)="contact()" type="button" >Contacter</button>
        <button class="row btn btn-danger btn-block" (click)="signal()" type="button" >Signaler le poste</button>
    </div>
  </div>
</div>

<p class="alert alert-success">Formation</p>

<p class="alert alert-success">Compétences</p>

<p class="alert alert-success">Commentaires</p>


