<div class="container-fluid">
  <div class="row">
    <div class="col-10">
      <img src="{{candidate.photo}}"  class="rounded-circle img-fluid mx-auto d-block" height="200" width="200">
      <h3 class="text-center">{{candidate.firstname}} {{candidate.lastname}}</h3>
      <br>
      <div class="text-center">{{candidate.description}}</div>
      <br>
    </div>
    <div class="col-2 container">
      <div class="text-center">
        <button class="row btn btn-success btn-block" (click)="proposePost()" type="button">Proposer un poste</button>
        <button class="row btn btn-primary btn-block" (click)="contact()" type="button" >Contacter</button>
        <button class="row btn btn-danger btn-block" (click)="signal()" type="button" >Signaler le poste</button>
      </div>
    </div>
  </div>
</div>

<p class="alert alert-success">Formation</p>

<p class="alert alert-success">Compétences</p>

<p class="alert alert-success">Commentaires</p>

<app-skill-box></app-skill-box>
