<div *ngIf="profileNotFound">
  <p>Ce profil est introuvable.</p>
</div>

<div *ngIf="!profileNotFound && candidate" class="container-fluid">
  <div class="row">
    <div class="col-10">
      <img *ngIf="candidate.photo" src="{{candidate.photo}}"  class="rounded-circle img-fluid mx-auto d-block" height="200" width="200">
      <img *ngIf="!candidate.photo" src="../../assets/images/user-no-photo.png"  class="rounded-circle img-fluid mx-auto d-block" height="200" width="200">
      <h3 class="text-center">{{candidate.user.firstname}} {{candidate.user.lastname}}</h3>
      <br>
      <div class="text-center">{{candidate.description}}</div>
      <br>
    </div>
    <div class="col-2 container">
      <div class="text-center">
        <button class="row btn btn-success btn-block" (click)="proposePost()" type="button">Proposer un poste</button>
        <button class="row btn btn-primary btn-block" (click)="contact()" type="button" >Contacter</button>
        <button class="row btn btn-danger btn-block" (click)="signal()" type="button" >Signaler le profil</button>
      </div>
    </div>
  </div>

  <p class="alert alert-success">Formation</p>
  <p></p>

  <p class="alert alert-success">Compétences</p>
  <div class="container-fluid pb-3">
    <app-skill-box [skill]="skill" *ngFor="let skill of candidate.skills"></app-skill-box>
  </div>

  <p class="alert alert-success">Commentaires</p>

</div>
